body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass {
    color: #fe4244;
    font-size: 2 rem;
}
.nav-link {
    color: #222222;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: hsl(0, 0%, 13%);
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info {
    text-align: center;
    background-color: #ebebeb;
    line-height: 2.66rem;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

/* New Page */
.btn-add {
    background-color: #fe4244;
}
.btn-add:hover {
    background-color: #fc5f61;
}

/* Show Page */
.btns {
    display: flex;
}
.show-btn {
    margin-right: 2rem;
}
